body {
    background-color: black;
}
.bulma-overlay-mixin {
    @include overlay(1.5rem);
    background-color: darkorange;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 1em;
  }

.hero {
    background-image: url(./hero-image.jpg)
}